// ========================
// Font Color and Variables
// ========================

// Fonts
$font: 'EB Garamond', serif;
$font-light: 300;
$font-bold: 700;

// Colors
$main-bg-color: #FF9F1C;
$side-nav-bg-color: #001526;
$side-nav-underline-color: #229790;
$font-color: #F8FAF7;
$finesse: #E01D35;

// ==============
// General Styles
// ==============
* {
  font-family: $font;
}

body {
  background-color: $main-bg-color;
  overflow: hidden;
}

// Side nav container
.side-nav {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

// Side nav popup
.sidenav {
  display: table-cell;
  vertical-align: middle;
  padding-top: 1em;
  background-color: $side-nav-bg-color;
  transform: translateX(0%) !important;
  width: 20%;
}

// Nav-items
.nav-items {
  margin-left: auto !important;
  margin-right: auto !important;
}

// Side nav list items
.sidenav li {
  line-height: 36px !important;
}

// Side nav link active
.sidenav li > a.active {
  margin-top: .2em;
  text-decoration: none;
  color: $side-nav-bg-color;
  background-color: $font-color;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: .3em
}

// Side nav list links
.sidenav li > a {
  color: $font-color;
  font-size: 1.2em;
  font-family: $font-light !important;
}

// When nav item is hovered
.sidenav li > a:hover:not(.active) {
  margin-top: .2em;
  text-decoration: none;
  color: $side-nav-bg-color;
  background-color: $font-color;
  margin-left: 1em;
  margin-right: 1em;
  transition: all ease-in 200ms;
  border-radius: .3em;
}

//Side nav prefix item
.link-prefix {
  color: $side-nav-underline-color;
  height: .2em;
}

// Divider
.divider {
  margin-left: auto !important;
  margin-right: auto !important;
  height: .2em;
  border-radius: .2em;
  display: block;
  width: 80% !important;
  background-color: $side-nav-underline-color;
}

// Logo
.logo {
  height: 60%;
  width: 60%;
  margin-left: auto !important;
  margin-right: auto;
  display: block;
}

// Logo-text
.logo-text {
  margin-top: 0 !important;
  font-size: 1.5em;
  color: $font-color;
  text-align: center;
}

// Underline in logo content
.logo-content > .divider {
  padding-top: 0 !important;
  margin-top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: .2em;
  border-radius: .2em;
  display: block;
  width: 30% !important;
  background-color: $font-color;
}

// About me
.about-me {
}


// Background image
.bg-image {
  height: 100%;
  width: 100%;
  left: 20%;
  margin-left: 25% !important;
  margin-right: 0;
  padding-right: 0;
  object-fit: cover;
  display: flex;
}


